.text-orange{
    color: rgb(232, 70, 11);
    font-size: 45px;
    margin-top: 50px !important;
   
}
h4{
    margin-top: 10px;
    color: gray;
    font-style: oblique;
    font-size: 17px;
    margin-bottom: 40px;
}