
<div class="container">
    <div class="row text-center">
        <h2 class="text-center text-orange  fw-bold text-orange ">Our Gallery</h2>

        <div  class="col-md-3 mt-5 ">

           <div>
            <img src="../../assets/4.jpeg" alt="" class="img-fluid">
           </div>

           

            

            

        </div>
        <div  class="col-md-3 mt-5 ">

            <div>
             <img src="../../assets/2.jpeg" alt="" class="img-fluid">
            </div>
 
            
 
             
 
             
 
         </div>
         <div  class="col-md-3 mt-5 ">

            <div>
             <img src="../../assets/4.jpeg" alt="" class="img-fluid">
            </div>
 
            
 
             
 
             
 
         </div>
         <div  class="col-md-3 mt-5 ">

            <div>
             <img src="../../assets/6.jpeg" alt="" class="img-fluid">
            </div>
 
            
 
             
 
             
 
         </div>
    </div>
    
</div>