<!-- -------------------------- --------- Start Nav Bar ----------------------------------- -->

<nav class="navbar navbar-expand-lg  navbar-light bg-light  bg-transparent fixed-top ">

  <div class="container pt-4 ">
    <a class="navbar-brand  f-let fs-18 f-main text-white" href="#">FOOD</a>

    <button class="navbar-toggler text-white fs-2 border border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      
      <i class=" fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-lg-4 ">
        <li class="nav-item">

          <a class=" nav-link home-link   active" aria-current="page" href="#home">Home</a>
        </li>
       
        <li class="nav-item ">
          <a class=" nav-link about-link " href="about/about.component.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link   services-link" href="#services">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  works-link" href="#works">Cotact</a>
        </li>
       
       

       
       
       
      </ul>
    
    </div>
  </div>
</nav>
<!-- ------------------------------- End Nav Bar -------------------------------------- -->

 <!-- ------------------------------ Header Start ----------------------------------- -->


 <header class=" vh-100 d-flex flex-column justify-content-center align-items-center home " id="home">

           

  <div class="content-text text-center text-white" >

     <h5 class="fs-50 f-main"> Hello</h5>
    <h1 class="my-3">FOOD  <span class="fw-bolder text-orange">CARE</span> <span id="element"></span> </h1>

  
      

  </div>

  <div class="social mt-4">
      <ul class=" list-unstyled d-flex gap-2  ">
        <li class="d-flex justify-content-center align-items-center"> 
          <a href="#"> 

          <span><i class="fa-brands fa-facebook-f text-white  fs-6"></i></span></a>
        </li>
       
        <li class="d-flex justify-content-center align-items-center "> <a href="#"> 
          <span><i class="fa-brands fa-twitter    text-orange fs-6"></i></span></a>
        </li>
        <li class="d-flex justify-content-center align-items-center"> <a href="#"> 
          <span><i class="fa-brands fa-linkedin-in  text-white fs-6"></i></span></a>
        </li>
        <li class="d-flex justify-content-center align-items-center "> <a href="#"> 
          <span><i class="fa-brands fa-behance text-orange fs-6"></i></span></a>
        </li>
        <li class="d-flex justify-content-center align-items-center "> <a href="#"> 
          <span><i class="fa-brands fa-youtube  text-white fs-6"></i></span></a>
        </li>

      </ul>
     </div>
</header>
<!-- ---------------------------------------- Header  End  ------------------------------ -->
<app-about></app-about>
<app-gallery></app-gallery>
<app-contacts></app-contacts>
